/* Navbar.module.css */

/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Styles for the main navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: black;
  border-bottom: 1px solid rgb(228, 227, 227);
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to the entire navbar */
}

/* Styles for the logo */
.navbarLogo img {
  width: 100px; /* Adjust the width of the logo image as needed */
  height: auto;
}

/* Styles for the links section */
.navbarLinks ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbarLinks ul li {
  display: inline-block;
}

.navbarLinks ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.navbarLinks ul li:last-child a {
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  padding: 10px;
}
